name: Anvil's npm registry release
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          registry-url: "https://registry.npmjs.org"
      - run: |
        npm install --global semantic-release @semantic-release/github @semantic-release/changelog @semantic-release/git &&
        NPM_TOKEN=${{ secrets. NPM_TOKEN }} semantic-release
